.main{
  width: 400px;
  height: auto;
  border-style: solid;
  padding: 2%;
}
.valueBox{
  height: 100px;
  font-size: 80px;
  text-align: right;
  border-style: solid;
  margin-bottom: 2%;
}
.mathButtons{
}
.btn-group{
  padding: 2px;
  margin: 2px;
  border: 2px;
}